{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
    
    <div class="header">
        <form action="/privates/medias/{{token}}" method="GET">
            <input
                type="text"
                name="filter"
                placeholder="Descrição"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            
            {% for media in medias %}
            <tr>
                <td>{{media.id}}</td>
                <td>{{media.descricao}}</td>
                
                <td><a href="/privates/medias/{{media.id}}/{{token}}">Ver</a></td>
                <td><a class="visualizarMidia" id={{media.link}}>Reproduzir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="turn-back">
        <a class="button back" href="/general/home/{{token}}">Voltar</a>
    </div>
</div>
<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock content %}