{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">

    <div class="header">
        <a class="button" href="/eventos/create">Novo</a>
        <form action="/eventos" method="GET">
            <input
                type="text"
                name="filter"
                placeholder="Descrição"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for evento in eventos %}
            <tr>
                <td>
                    {{evento.id}}
                </td>
                <td>{{evento.descricao}}</td>
                <td>{{evento.valor}}</td>
                <td><a href="/eventos/{{evento.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}