{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">

    <div class="header">
        <h1>Bem vindo, Diretor!</h1>
    </div>

   <div class="buttonsHome">

       <div class="buttonHome">
           <a href="/eventos">EVENTOS</a>
       </div>

       <div class="buttonHome">
           <a href="/encontros">ENCONTROS</a>
       </div>

       <div class="buttonHome">
           <a href="/financeiros">FINANCEIRO</a>
       </div>

       <div class="buttonHome">
           <a href=""> MIDIAS</a>
       </div>

       <div class="buttonHome">
           <a href="/membros">USUÁRIOS</a>
       </div>

   </div>
</div>
{% endblock content %}