{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
<div class="sair"> 
    <a href="/general/login"><span class="material-icons">logout</span></a>
</div>
<div id="wrapper">
            
            <a href="/privates/membros/{{membro.id}}/{{token}}">
                <img src="{{membro.foto}}" alt="Joao">
            </a>
    </div>
    <div class="headerHome">
        <h1>Bem vindo, {{ membro.nome }}!</h1>
    </div>
    <input type="hidden" name="token" value="{{token}}" />
   <div class="buttonsHome">
       
       <div class="buttonHome" onclick="window.location='/privates/eventos/{{token}}'">
            
            <a href="/privates/eventos/{{token}}"><span class="material-icons">today</span>EVENTOS</a>
       </div>

       <div class="buttonHome" onclick="window.location='/privates/encontros/{{token}}'">
            <a href="/privates/encontros/{{token}}"><span class="material-icons">groups</span>ENCONTROS</a>
       </div>

       <div class="buttonHome" onclick="window.location='/privates/financeiros/{{token}}'">
            <a href="/privates/financeiros/{{token}}"><span class="material-icons">paid</span>FINANCEIRO</a>
       </div>

       <div class="buttonHome" onclick="window.location=''">
            <a href="/privates/medias/{{token}}"><span class="material-icons">mms</span>MIDIAS</a>
       </div>
    
    {% if membro.isdiretor == true%}
       <div class="buttonHome" onclick="window.location='/general/panelDirector/{{token}}'">
            <a href="/general/panelDirector/{{token}}"><span class="material-icons">admin_panel_settings</span>PAINEL DIRETOR</a>
       </div>
    {%endif%}
    
   </div>
</div>
<script>
    localStorage.setItem('token', '{{token}}')
</script>
{% endblock content %}