{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    
    <div class="header">
        <h1>Bem vindo, João Elias!</h1>
    </div>

   <div class="buttonsHome">

       <div class="buttonHome">
           <a href="">SSS</a>
       </div>

       <div class="buttonHome">
           <a href="">ENCONTROS</a>
       </div>

       <div class="buttonHome">
           <a href="">FINANCEIRO</a>
       </div>

       <div class="buttonHome">
           <a href="">MIDIAS</a>
       </div>

       <div class="buttonHome">
           <a href="/general/panelDirector">PAINEL DIRETOR</a>
       </div>

   </div>
</div>
{% endblock content %}