{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
<div id="wrapper">
            
            <img src="{{membro.foto}}" alt="Joao">
    </div>
    <div class="header">
        <h1>Bem vindo, {{ membro.nome }}!</h1>
    </div>
    <input type="hidden" name="token" value="{{token}}" />
   <div class="buttonsHome">

       <div class="buttonHome">
           <a href="/privates/eventos/{{token}}">EVENTOS</a>
       </div>

       <div class="buttonHome">
           <a href="">ENCONTROS</a>
       </div>

       <div class="buttonHome">
           <a href="">FINANCEIRO</a>
       </div>

       <div class="buttonHome">
           <a href="">MIDIAS</a>
       </div>

       <div class="buttonHome">
           <a href="/general/panelDirector">PAINEL DIRETOR</a>
       </div>

   </div>
</div>
<script>
    localStorage.setItem('token', '{{token}}')
</script>
{% endblock content %}