{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
<div class="sair">
    
    <a href="/general/login"><span class="material-icons">logout</span></a>
</div>
    <div id="wrapper">    
        <a href="">
            <img src="{{membro.foto}}" alt="Joao">
        </a>
    </div>

    <div class="headerHome">
        <h1>Bem vindo, Diretor!</h1>
    </div>

   <div class="buttonsHome">

       <div class="buttonHome" onclick="window.location='/eventos/{{token}}'">
            <a href="/eventos/{{token}}"><span class="material-icons">today</span>EVENTOS</a>
       </div>

       <div class="buttonHome" onclick="window.location='/encontros/{{token}}'">
            <a href="/encontros/{{token}}"><span class="material-icons">groups</span>ENCONTROS</a>
       </div>

       <div class="buttonHome" onclick="window.location='/financeiros/{{token}}'">
            <a href="/financeiros/{{token}}"><span class="material-icons">paid</span>FINANCEIRO</a>
       </div>

        <div class="buttonHome" onclick="window.location='/general/home/{{token}}'">
            <a href="/general/home/{{token}}"><span class="material-icons">reply</span>VOLTAR</a>
       </div>

       <div class="buttonHome" onclick="window.location=''">
            <a href=""><span class="material-icons">mms</span>MIDIAS</a>
       </div>
       
       <div class="buttonHome" onclick="window.location='/membros/{{token}}'">
            <a href="/membros/{{token}}"><span class="material-icons">group_add</span>USUÁRIOS</a>
       </div>

      

   </div>
</div>
{% endblock content %}