{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">

    <div class="header">
        <h1>Bem vindo, Diretor!</h1>
    </div>

   <div class="buttonsHome">

       <div class="buttonHome">
           <a href="">EVENTOS</a>
       </div>

       <div class="buttonHome">
           <a href="">ENCONTROS</a>
       </div>

       <div class="buttonHome">
           <a href="">FINANCEIRO</a>
       </div>

       <div class="buttonHome">
           <a href=""> MIDIAS</a>
       </div>

       <div class="buttonHome">
           <a href="/membros">MEMBROS</a>
       </div>

   </div>
</div>
{% endblock content %}