{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
   
    <div class="header">
        <form action="/privates/encontros/{{token}}" method="GET">
            <input
                type="text"
                name="filter"
                placeholder="Descrição"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição do Encontro</th>
                <th>Data</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for encontro in encontros %}
            <tr>
                <td>{{encontro.id}}</td>
                <td>{{encontro.descricao}}</td>
                <td>{{encontro.data}}</td>
                <td><a href="/privates/encontros/{{encontro.id}}/{{token}}">Ver</a></td>
                {% if not encontro.isPassou %}
                    {% if encontro.participa < 1%}
                        <td><a href="/privates/encontros/participar/{{encontro.id}}/{{token}}">Participar</a></td>
                    {%endif%}

                    {% if encontro.participa > 0%}
                        <td><a href="/privates/encontros/retirar/{{encontro.id}}/{{token}}">Retirar-se</a></td>
                    {%endif%}
                {% else %}
                    <td></td>
                {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="turn-back">
        <a class="button back" href="/general/home/{{token}}">Voltar</a>
    </div>
</div>
{% endblock content %}