 <div class="item">
            <div>Descrição</div>
            <div>
                <input 
                    type="text"
                    name="descricao"
                    value="{{ encontro.descricao }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Data</div>
            <div>
                <input 
                    type="date"
                    name="data"
                    value="{{ encontro.data }}"
                >
            </div>
        </div>       
        <button type="submit">Salvar</button>
        <a href="/encontros/{{token}}" class="button">Voltar</a>