{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
        class="avatar" 
        style="background: url({{ membro.foto }}) no-repeat center center / cover"></section>
    <section class="details">
        <form method="POST" action="/membros?_method=PUT">
                <h3>Editar Membro</h3>

                {% include 'membros/fieldsUpdate.njk' %}
                <input type="hidden" name="id" value={{membro.id}}>
        
        </form>

        <form id="form-delete" action="/membros?_method=DELETE" method='POST'>
            <input type="hidden" name="id" value={{membro.id}}>
            <button type='submit'>Deletar</button>

        </form>

        <script>
            const formDelete = document.querySelector("#form-delete")
            formDelete.addEventListener('submit', function(event){
                const confirmation = confirm(`Confirma exclusão dos dados? {{membro.id}}`)
                if(!confirmation){
                    event.preventDefault()
                }
            })

        </script>
        
    </section>
</div>

{% endblock content %}