 <div class="item">
            <div>Foto</div>
            <div>
                <input 
                    type="url"
                    name="foto"
                    placeholder="http://"
                    value="{{ membro.foto }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Nome</div>
            <div>
                <input 
                    type="text"
                    name="nome"
                    placeholder="Nome do Membro"
                    value="{{ membro.nome }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input 
                    type="date"
                    name="datanasc"
                    value="{{ membro.birth }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Email</div>
            <div>
                <input 
                    type="text"
                    name="email"
                    placeholder="Email do Membro"
                    value="{{ membro.email }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Logradouro</div>
            <div>
                <input 
                    type="text"
                    name="logradouro"
                    placeholder="Logradouro do Membro"
                    value="{{ membro.logradouro }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Situação</div>
            <div>
                <span> 
                    <input 
                        type="radio" 
                        name="situacao" 
                        value="A" 
                        {% if membro.situacao == 'A' %}
                            checked
                        {% endif %}> Ativo
                </span>
                <span> 
                    <input 
                        type="radio" 
                        name="situacao" 
                        value="I"
                        {% if membro.situacao == 'I' %}
                            checked
                        {% endif %}> Inativo 
                </span>
            </div>

            <div class="item">
            <div>Senha</div>
            <div>
                <input 
                    type="text"
                    name="senha"
                    placeholder="Senha"
                    value="{{ membro.senha }}"
                >
            </div>
        </div>
        <div class="item">
            <div>Diretor</div>
            <div>
                <select name="isdiretor">
                    <option value="true" {% if membro.isdiretor == true%}selected{%endif%}>
                        Sim
                    </option>
                    
                    <option value="false" {% if membro.isdiretor == false%}selected{%endif%}>
                        Não
                    </option>
                </select>
            </div>
        </div>

        </div>

        <button type="submit">Salvar</button>
        {%if membro.tentativas > 4%}
        <a href="/membros/desbloquear/{{membro.id}}/{{token}}" class="button" >Desbloquear</a>
        {%endif%}
        <a href="/membros/{{membro.id}}/{{token}}" class="button">Voltar</a>