{% extends "layout.njk" %}

{% block content %}
<script src="{PATH}/alertify.min.js"></script>
<div class="card table-container">
    
    <div class="header">
        <a class="button" href="/membros/create/{{token}}">Novo</a>
        <form action="/membros/{{token}}" method="GET">
            <input
                type="text"
                name="filter"
                placeholder="Nome"
                value={{filter}}
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>Situação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for membro in membros %}
            <tr>
                <td>
                    <span style="background-image: url({{membro.foto}})"></span>
                    {{membro.nome}}
                </td>
                
                <td>{{membro.email}}</td>
                <td>{{ "Ativo" if membro.situacao == "A" else "Inativo"}}</td>
                <td><a href="/membros/{{membro.id}}/{{token}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

     <div class="turn-back">
        <a class="button back" href="/general/panelDirector/{{token}}">Voltar</a>
    </div>
</div>
{% endblock content %}